*{
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
#aside{
    background-color:whitesmoke;
    height: 100% ;
} 

/* #aside li.active{
    background-color: aqua;
} */
#logo{
    width: 50px ;
    height: 50px;
    border-radius: 50%;
}
#aside li a:hover{
    color:rgb(86, 86, 31) ;
}
.list-group-item a{
    color:darkslategray;
}
.list-group-item:active ,
.list-group-item:focus ,
.list-group-item:hover {
    background-color: lightgray;
}
.card:hover{
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(8, 7, 7, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}

.card{
    transition: transform 1s;
}
.card:hover{
    transform: translateY(15px) scale(1.005) translateZ(0);
}

.card img {
    opacity: .8;
    transition: .5s;
}
.card:hover  img  {
    transition: all .2s ease-in-out;
    transition-delay: .5s;
    opacity: 1.5;
    transform: translateY(4%);
}
.card-body ul li:hover{
    border-radius: 10px;
    font-size: 1.1rem;
    background-color: rgb(250, 232, 232);
}
